<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/main}" th:with="activePage='home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="script">
    <script>
        $(document).ready(function () {

            $("#approachSelector :input").change(function () {
                showSection($(this).val())
            })

            showSection($("#approachSelector .active :input").val());

            $('[data-toggle="tooltip"]').tooltip();
        })

        function showSection(section) {
            $("#section-CONTENT").hide(200);
            $("#section-CHARACTERS").hide(200);
            if (section) {
                $("#section-" + section).show(200);
                $("#config-examples").removeClass("d-none");
                $("#config-next-btn").removeClass("d-none");
                $("#fragment-div").removeClass("d-none");
            }
        }

        function selectApproach(approachType, approachBtnNumber) {
            $("#approach-selector-init").hide(200)
            $("#approach-selector-normal").removeClass("d-none")

            $("#approachType" + approachBtnNumber)
                .prop('checked', true)
                .parent('label')
                .addClass('active')
            showSection(approachType)
        }

        function deleteAttr(btn) {
            const rowDiv = $(btn).closest(".row")
            rowDiv.remove();
        }
        let optionList = "";

        let last = [[${mainConfiguration.attributeList.size()}]];
        let charLabelLast = [[${mainConfiguration.labelList.size()}]];
    </script>
    <script layout:fragment="config-script">
    </script>
    <script th:replace="fragments/characterLabels :: script">
    </script>
</div>

<div layout:fragment="content">

    <form method="post" th:object="${mainConfiguration}">
        <div class="row">
            <div class="col-sm-6">
                <h3 th:text="#{assignment-config.title}"></h3>
                <p th:text="#{assignment-config.desc}"></p>
            </div>
            <div class="col-sm-3 offset-3 text-right">
                <span data-placement="top" data-toggle="tooltip" th:title="#{assignment-config.save.tooltip}">
                    <button class="btn btn-secondary"
                            th:formaction="@{/configuration/print}"
                            type="submit">
                        <i class="fas fa-save"></i>
                    </button>
                </span>
                <span data-placement="top" data-toggle="tooltip" th:title="#{assignment-config.load.tooltip}">
                    <button class="btn btn-secondary" data-target="#loadFileModal"
                            data-toggle="modal" type="button">
                        <i class="fas fa-file-upload"></i>
                    </button>
                </span>
                <span data-placement="top" data-toggle="tooltip" th:title="#{assignment-config.reset.tooltip}">
                     <a class="btn btn-danger"
                        role="button"
                        th:href="@{/configuration/new}">
                         <i class="fas fa-trash"></i>
                     </a>
                </span>
            </div>
        </div>

        <div th:classappend="${mainConfiguration.getApproachType() != null} ? 'd-none' : ''" id="approach-selector-init">
            <div class="form-group row" >
                <div class="col-sm-6">
                    <div class="card approach-type-selector">
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{assignment-config.approach.content}"></h5>
                            <p class="card-text" th:text="#{assignment-config.approach.content.tooltip}"></p>
                            <button onclick="selectApproach('CONTENT', 1)" class="btn btn-info" th:text="#{assignment-config.approach.content.btn}" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card approach-type-selector">
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{assignment-config.approach.characters}"></h5>
                            <p class="card-text" th:text="#{assignment-config.approach.characters.tooltip}"></p>
                            <button onclick="selectApproach('CHARACTERS', 2)" class="btn btn-info" th:text="#{assignment-config.approach.characters.btn}" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" th:classappend="${mainConfiguration.getApproachType() == null} ? 'd-none' : ''" id="approach-selector-normal">
            <div class="col-sm-5">
                <label class="col-form-label" th:text="#{assignment-config.approach}"></label>
                <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.approach.tooltip}"></i>
            </div>
            <div class="col-sm-7">

                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="approachSelector">
                    <label class="btn btn-info btn-rounded"
                           data-toggle="tooltip"
                           th:classappend="${mainConfiguration.getApproachType() == type} ? 'active' : ''"
                           th:each="type : ${T(cz.rolling.moirai.model.common.ApproachType).values()}"
                           th:title="#{${type.getKey() + '.tooltip'}}">
                        <input autocomplete="off" th:field="*{approachType}"
                               th:text='#{${type.getKey() + ".short"}}'
                               th:value="${type}"
                               type="radio">
                    </label>
                </div>
            </div>
        </div>

        <div layout:fragment="config-content" th:classappend="${mainConfiguration.getApproachType() == null} ? 'd-none' : ''" id="fragment-div">

        </div>

        <div>
            <span class="text-danger" th:errors="*{global}"> </span>
        </div>

        <div class="font-italic mt-4 d-none" id="config-examples">
            <span th:text="#{assignment-config.examples.start}"></span>
            <a href="https://github.com/rolling-cz/moirai/tree/master/src/test/resources/examples" target="_blank">
                <span th:text="#{assignment-config.examples.link}"></span>
                <i class="fas fa-external-link-alt fa-sm"></i>
            </a>
        </div>

        <button class="btn btn-primary mt-4 d-none" id="config-next-btn"
                th:formaction="@{/configuration/next}"
                th:text="#{common.next-btn}"
                type="submit"></button>
    </form>



    <div aria-hidden="true" aria-labelledby="loadFileModalLabel" class="modal fade" id="loadFileModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/configuration/import" enctype="multipart/form-data" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loadFileModalLabel" th:text="#{assignment-config.import.title}"></h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input class="filestyle" id="charactersFile" name="file" th:data-text="#{common.choose-file}" type="file">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close-btn}"
                                type="button"></button>
                        <button class="btn btn-primary" th:text="#{common.load-file-btn}"
                                type="submit"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>