<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title></title>
</head>
<body>

<div th:replace="fragments/header :: nav">
</div>

<script layout:fragment="script"  th:inline="javascript">
</script>

<div class="mt-4" th:classappend="${fullPage == true} ? 'container-fluid' : 'container'">
    <div layout:fragment="content">

    </div>
</div>

<div th:replace="fragments/footer :: scripts">
</div>

</body>
</html>