<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title></title></head>
<body>
<span th:fragment="attributeRatingSelect">
    <option th:label="#{'assignment-config.attribute-important-option.1'}" value="-1"></option>
    <option th:label="#{'assignment-config.attribute-important-option.2'}" value="-5"></option>
    <option th:label="#{'assignment-config.attribute-important-option.3'}" value="-10"></option>
    <option th:label="#{'assignment-config.attribute-important-option.4'}" value="-25"></option>
    <option th:label="#{'assignment-config.attribute-important-option.5'}" value="-100"></option>
</span>
<span th:fragment="attributeFunctionSelect">
    <option th:label="#{'assignment-config.attribute-function-option.1'}" value="CONSTANT"></option>
    <option th:label="#{'assignment-config.attribute-function-option.2'}" value="LINEAR"></option>
    <option th:label="#{'assignment-config.attribute-function-option.3'}" value="CUBIC"></option>
</span>
<span th:fragment="negativeImpactSelect">
    <option th:label="#{'assignment-config.rating-impact-option.1'}" value="-10"></option>
    <option th:label="#{'assignment-config.rating-impact-option.2'}" value="-50"></option>
    <option th:label="#{'assignment-config.rating-impact-option.3'}" value="-100"></option>
    <option th:label="#{'assignment-config.rating-impact-option.4'}" value="-150"></option>
</span>
<span th:fragment="deltaSelect">
    <option th:label="#{'assignment-config.char-pref-delta-option.1'}" value="0"></option>
    <option th:label="#{'assignment-config.char-pref-delta-option.2'}" value="1"></option>
    <option th:label="#{'assignment-config.char-pref-delta-option.3'}" value="2"></option>
    <option th:label="#{'assignment-config.char-pref-delta-option.4'}" value="3"></option>
</span>
</body>
</html>