<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Moirai</title>

    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.15.0/css/all.css} " th:rel="stylesheet"/>
    <link th:href="@{/styles/main.css}" th:rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async th:if="${@environment.getActiveProfiles()[0] == 'prod'}"
            th:src="${'https://www.googletagmanager.com/gtag/js?id=' + @environment.getProperty('ga_tag')}"></script>
    <script th:if="${@environment.getActiveProfiles()[0] == 'prod'}">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', "[[${@environment.getProperty('ga_tag')}]]");
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" th:fragment="nav">
    <div class="container">
        <a class="navbar-brand" href="/">Moirai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${activePage == 'home'} ? 'active' : ''">
                    <a class="nav-link" href="/" th:text="#{nav.home}"></a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'faq'} ? 'active' : ''">
                    <a class="nav-link" href="/faq" th:text="#{nav.faq}"></a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'about'} ? 'active' : ''">
                    <a class="nav-link" href="/about" th:text="#{nav.about}"></a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'contact'} ? 'active' : ''">
                    <a class="nav-link" href="/contact" th:text="#{nav.contact}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=cs">
                        <div class="flag icon-cs"></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=en">
                        <div class="flag icon-en"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>