<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/main}" th:with="activePage='about'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content">
    <h3 th:text="#{about-page.title}"></h3>
    <p th:text="#{about-page.desc-intro}"></p>
    <p th:text="#{about-page.desc-purpose}"></p>
    <p th:text="#{about-page.desc-contact}"></p>
    <div>
        <span th:text="#{about-page.version}"></span>&nbsp;<span th:text="${version}"></span>
    </div>
</div>

</body>
</html>