<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/main}" th:with="activePage='home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<script layout:fragment="script">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

<div layout:fragment="content">
    <h3 th:text="#{algorithm-config.title}"></h3>
    <p th:text="#{algorithm-config.desc}"></p>
    <form method="post" th:object="${algorithmConfiguration}">

        <div class="row">
            <div class="col-sm-4" th:text="#{algorithm-config.loaded-users}"></div>
            <div class="col-sm-1" th:text="*{numberOfUsers}"></div>
            <div class="col-sm-2">
                <button class="btn btn-info" data-target="#loadFileModal"
                        th:text="#{common.load-file-btn}"
                        data-toggle="modal" type="button"></button>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <div>
                    <label for="algorithmSelect" th:text="#{algorithm-config.algorithm}"></label>
                    <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{algorithm-config.algorithm.tooltip}"></i>
                </div>
                <div>
                    <select class="custom-select" id="algorithmSelect" th:field="*{algorithmFactoryName}">
                        <option th:each="factory, stats : ${algorithmFactorySet}"
                                th:text="#{'algorithm-config.name.' + ${factory.name}}"
                                th:value="${factory.factoryClass.getCanonicalName()}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="mt-2 mb-2">
            <div class="alert alert-danger" role="alert"
                 th:if="${errorMessage != ''}"
                 th:text="${#messages.msgWithParams(errorMessage, errorParams)}"
            >
            </div>
            <div class="alert alert-warning" role="alert"
                 th:if="${numberOfCharacters > algorithmConfiguration.numberOfUsers}"
                 th:text="#{'algorithm-config.warning.not-enough-players'}"
            >
            </div>
        </div>

        <button class="btn btn-secondary"
                th:formaction="@{/assignment/previous}"
                th:text="#{common.previous-btn}"
                type="submit"></button>
        <button class="btn btn-primary"
                th:formaction="@{/assignment/execute}"
                th:text="#{algorithm-config.execute-btn}"
                type="submit"></button>
    </form>

    <div aria-hidden="true" aria-labelledby="loadFileModalLabel" class="modal fade" id="loadFileModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/assignment/import" enctype="multipart/form-data" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loadFileModalLabel" th:text="#{algorithm-config.import.title}"></h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <div th:text="#{common.required-file-format.line1}"></div>
                            <div th:text="#{common.required-file-format.line2(0)}" class="mt-1"></div>
                            <div class="font-italic" th:text="${usersFileFormat}"></div>
                        </div>
                        <input class="filestyle" id="charactersFile" name="file" th:data-text="#{common.choose-file}" type="file">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close-btn}" type="button"></button>
                        <button class="btn btn-primary" th:text="#{common.load-file-btn}" type="submit"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>