<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title></title>
</head>
<body>

<div th:replace="fragments/header :: nav('home')">
</div>

<div class="container mt-4">
    <h3 th:text="#{characters-config.title}"></h3>
    <p th:text="#{characters-config.desc}"></p>
    <form enctype="multipart/form-data" method="post" th:object="${characterConfiguration}">

        <div class="row">
            <div class="col-sm-3" th:text="#{characters-config.loaded-chars}"></div>
            <div class="col-sm-1" th:text="*{numberOfCharacters}"></div>
            <div class="col-sm-1">
                <button class="btn btn-info" data-target="#loadFileModal"
                        data-toggle="modal"
                        th:text="#{common.load-file-btn}" type="button"></button>
            </div>

        </div>

        <div class="mt-4">
            <button class="btn btn-secondary"
                    th:formaction="@{/characters/previous}"
                    th:text="#{common.previous-btn}"
                    type="submit"></button>
            <button class="btn btn-primary"
                    th:formaction="@{/characters/next}"
                    th:text="#{common.next-btn}"
                    type="submit"></button>
        </div>
    </form>
</div>

<div aria-hidden="true" aria-labelledby="loadFileModalLabel" class="modal fade" id="loadFileModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/characters/import" enctype="multipart/form-data" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="loadFileModalLabel" th:text="#{characters-config.import.title}"></h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <span th:text="#{common.required-file-format}"></span>:
                        <span class="font-italic" th:text="${charactersFileFormat}"></span>
                    </div>
                    <input class="filestyle" id="charactersFile" name="file" th:data-text="#{common.choose-file}" type="file">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close-btn}" type="button"></button>
                    <button class="btn btn-primary" th:text="#{common.load-file-btn}" type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: scripts">
</div>

</body>
</html>