<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title></title>
</head>
<body>

<div th:replace="fragments/header :: nav('home')">
</div>

<div class="container mt-4">
    <h3 th:text="#{characters-config.title}"></h3>
    <p th:text="#{characters-config.desc}"></p>
    <form enctype="multipart/form-data" method="post" th:object="${characterConfiguration}">

        <div>
            <span th:text="#{characters-config.loaded-chars}"></span>:
            <span th:text="*{numberOfCharacters}"></span>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <div class="custom-file">
                    <input class="custom-file-input" id="file" name="file" type="file">
                    <label class="custom-file-label" for="file" th:text="#{common.choose-file}"></label>
                </div>
                <div>
                    <span th:text="#{common.required-file-format}"></span>:
                    <span class="font-italic" th:text="${charactersFileFormat}"></span>
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-info"
                        th:formaction="@{/characters/import}"
                        th:text="#{common.load-file-btn}"
                        type="submit"></button>
            </div>
        </div>

        <button class="btn btn-secondary"
                th:formaction="@{/characters/previous}"
                th:text="#{common.previous-btn}"
                type="submit"></button>
        <button class="btn btn-primary"
                th:formaction="@{/characters/next}"
                th:text="#{common.next-btn}"
                type="submit"></button>
    </form>
</div>

<div th:replace="fragments/footer :: scripts">
</div>

</body>
</html>