<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/main}" th:with="activePage='home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content">
    <h3 th:text="#{characters-config.title}"></h3>
    <p th:text="#{characters-config.desc}"></p>
    <form method="post" th:object="${characterConfiguration}">

        <div class="row">
            <div class="col-sm-4" th:text="#{characters-config.loaded-chars}"></div>
            <div class="col-sm-1" th:text="*{numberOfCharacters}"></div>
            <div class="col-sm-2">
                <button class="btn btn-info" data-target="#loadFileModal"
                        data-toggle="modal"
                        th:text="#{common.load-file-btn}" type="button"></button>
            </div>

        </div>

        <div class="mt-2 mb-2">
            <span class="text-danger"
                  th:if="${errorMessage != ''}"
                  th:text="${#messages.msgWithParams(errorMessage, errorParams)}">
            </span>
        </div>

        <div class="mt-4">
            <button class="btn btn-secondary"
                    th:formaction="@{/characters/previous}"
                    th:text="#{common.previous-btn}"
                    type="submit"></button>
            <button class="btn btn-primary"
                    th:formaction="@{/characters/next}"
                    th:text="#{common.next-btn}"
                    type="submit"></button>
        </div>
    </form>

    <div aria-hidden="true" aria-labelledby="loadFileModalLabel" class="modal fade" id="loadFileModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/characters/import" enctype="multipart/form-data" method="POST" th:object="${formUpload}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loadFileModalLabel" th:text="#{characters-config.import.title}"></h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <div th:text="#{common.required-file-format.line1}"></div>
                            <div th:text="#{common.required-file-format.line2(1)}" class="mt-1"></div>
                            <div class="font-italic" th:text="${charactersFileFormat}"></div>
                        </div>
                        <input class="filestyle" id="charactersFile" name="file" th:data-text="#{common.choose-file}" type="file">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close-btn}" type="button"></button>
                        <button class="btn btn-primary" th:text="#{common.load-file-btn}" type="submit"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>