<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title></title>
</head>
<body>

<div th:replace="fragments/header :: nav('home')">
</div>

<script th:inline="javascript">
    $(document).ready(function () {

        $("#approachSelector :input").change(function () {
            showSection($(this).val())
        })

        showSection([[${mainConfiguration.approachType}]]);

        $('[data-toggle="tooltip"]').tooltip();
    })

    function showSection(section) {
        /*[# th:each="type : ${T(cz.rolling.moirai.model.common.ApproachType).values()}"]*/
        $("#section-" + [[${type}]]).hide(200);
        /*[/]*/
        $("#section-" + section).show(200);
    }

    let last = [[${mainConfiguration.attributeList.size()}]];

    let optionList = "";
    /*[# th:each="fn : ${T(cz.rolling.moirai.model.common.RatingFunction).values()}"]*/
    optionList += "<option value='" + [[${fn}]] + "' >" + [[#{${fn.getKey()}}]] + "</option>";
    /*[/]*/

    function addAttr() {
        $("#attrList").append("<div class='row'>" +
            "                    <div class='col-sm-2'>" +
            "                        <input type='text' class='form-control' id='attributeList" + last + ".name' name='attributeList[" + last + "].name' >" +
            "                    </div>" +
            "                    <div class='col-sm-2'>" +
            "                        <input type='text' class='form-control' id='attributeList" + last + ".min' name='attributeList[" + last + "].min' >" +
            "                    </div>" +
            "                    <div class='col-sm-2'>" +
            "                        <input type='text' class='form-control' id='attributeList" + last + ".max' name='attributeList[" + last + "].max' >" +
            "                    </div>" +
            "                    <div class='col-sm-2'>" +
            "                        <input type='text' class='form-control' id='attributeList" + last + ".rating' name='attributeList[" + last + "].rating' >" +
            "                    </div>" +
            "                    <div class='col-sm-2'>" +
            "                       <select id='attributeList" + last + ".function' name='attributeList[" + last + "].function' class='custom-select'>" + optionList +
            "                        </select>" +
            "                    </div>" +
            "                    <div class='col-sm-1'>" +
            "                        <button class='btn btn-danger btn-sm' onclick='deleteAttr(this)'>" +
            "                            <i class='fa fa-minus fa-sm' ></i>" +
            "                        </button>" +
            "                    </div>" +
            "                </div>"
        );
        last++;
    }

    function deleteAttr(btn) {
        const rowDiv = $(btn).closest(".row")
        rowDiv.remove();
    }
</script>

<div class="container mt-4">
    <form method="post" th:object="${mainConfiguration}">
        <div class="row">
            <div class="col-sm-6">
                <h3 th:text="#{assignment-config.title}"></h3>
                <p th:text="#{assignment-config.desc}"></p>
            </div>
            <div class="col-sm-3 offset-3">
                <span data-placement="top" data-toggle="tooltip" th:title="#{assignment-config.save.tooltip}">
                    <button class="btn btn-secondary"
                            th:formaction="@{/configuration/print}"
                            type="submit">
                        <i class="fas fa-save"></i>
                    </button>
                </span>
                <span data-placement="top" data-toggle="tooltip" th:title="#{assignment-config.load.tooltip}">
                    <button class="btn btn-secondary" data-target="#loadFileModal"
                            data-toggle="modal" type="button">
                        <i class="fas fa-file-upload"></i>
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <label class="col-form-label" th:text="#{assignment-config.approach}"></label>
                <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.approach.tooltip}"></i>
            </div>
            <div class="col-sm-8">

                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="approachSelector">
                    <label class="btn btn-info btn-rounded"
                           th:classappend="${mainConfiguration.getApproachType() == type} ? 'active' : ''"
                           data-toggle="tooltip"
                           th:each="type : ${T(cz.rolling.moirai.model.common.ApproachType).values()}"
                           th:title="#{${type.getKey() + '.tooltip'}}">
                        <input autocomplete="off" th:field="*{approachType}"
                               th:text="#{${type.getKey()}}"
                               th:value="${type}"
                               type="radio">
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <label class="col-form-label" for="ratingForGender"
                       th:text="#{assignment-config.rating-gender}">
                </label>
                <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.rating-gender.tooltip}"></i>
            </div>
            <div class="col-sm-2">
                <input class="form-control" id="ratingForGender"
                       th:field="*{ratingForGender}"
                       th:value="${mainConfiguration.getRatingForGender()}"
                       type="text">
            </div>
        </div>

        <div class="approach-section" id="section-CHARACTERS">
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label" for="numberOfPreferredCharacters"
                           th:text="#{assignment-config.preferred-characters}"></label>
                    <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.preferred-characters.tooltip}"></i>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" id="numberOfPreferredCharacters"
                           th:classappend="${#fields.hasErrors('numberOfPreferredCharacters')} ? 'is-invalid' : ''"
                           th:field="*{numberOfPreferredCharacters}"
                           th:value="${mainConfiguration.getNumberOfPreferredCharacters()}"
                           type="text">
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"
                          th:errors="*{numberOfPreferredCharacters}"
                          th:if="${#fields.hasErrors('numberOfPreferredCharacters')}"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label" for="ratingForPreferredCharacters"
                           th:text="#{assignment-config.rating-for-preferred}"></label>
                    <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.rating-for-preferred.tooltip}"></i>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" id="ratingForPreferredCharacters"
                           placeholder="7,5,3"
                           th:field="*{ratingForPreferredCharacters}"
                           th:value="${mainConfiguration.getRatingForPreferredCharacters()}"
                           type="text"
                    >
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"
                          th:errors="*{ratingForPreferredCharacters}"
                          th:if="${#fields.hasErrors('ratingForPreferredCharacters')}"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label" for="ratingForNotSpecifiedChar"
                           th:text="#{assignment-config.rating-not-specified-char}"></label>
                    <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.rating-not-specified-char.tooltip}"></i>
                </div>
                <div class="col-sm-2">
                    <input class="form-control" id="ratingForNotSpecifiedChar"
                           th:field="*{ratingForNotSpecifiedChar}"
                           th:value="${mainConfiguration.getRatingForNotSpecifiedChar()}"
                           type="text">
                </div>
            </div>
        </div>

        <div class="approach-section" id="section-CONTENT">
            <div>
                <h5>Content attributes
                    <button class="btn btn-info btn-sm" data-placement="right" data-toggle="tooltip" onclick="addAttr()" th:title="#{assignment-config.attr.add.tooltip}" type="button">
                        <i class="fa fa-plus fa-sm"></i>
                    </button>
                </h5>
            </div>
            <div class="row">
                <div class="col-sm-2 font-weight-bold text-center">
                    <span th:text="#{assignment-config.attr.name}"></span>
                    <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.name.tooltip}"></i>
                </div>
                <div class="col-sm-2 font-weight-bold text-center">
                    <span th:text="#{assignment-config.attr.min}"></span>
                    <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.min.tooltip}"></i>
                </div>
                <div class="col-sm-2 font-weight-bold text-center">
                    <span th:text="#{assignment-config.attr.max}"></span>
                    <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.max.tooltip}"></i>
                </div>
                <div class="col-sm-2 font-weight-bold text-center">
                    <span th:text="#{assignment-config.attr.rating}"></span>
                    <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.rating.tooltip}"></i>
                </div>
                <div class="col-sm-2 font-weight-bold text-center">
                    <span th:text="#{assignment-config.attr.function}"></span>
                    <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.function.tooltip}"></i>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div id="attrList">
                <div class="row" th:each="attr, status: *{attributeList}">
                    <div class="col-sm-2">
                        <input class="form-control"
                               th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].name')} ? 'is-invalid' : ''"
                               th:field="*{attributeList[__${status.index}__].name}" type="text">
                        <span class="text-danger"
                              th:errors="*{attributeList[__${status.index}__].name}"></span>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control"
                               th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].min')} ? 'is-invalid' : ''"
                               th:field="*{attributeList[__${status.index}__].min}" type="text">
                        <span class="text-danger"
                              th:errors="*{attributeList[__${status.index}__].min}"></span>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control"
                               th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].max')} ? 'is-invalid' : ''"
                               th:field="*{attributeList[__${status.index}__].max}" type="text">
                        <span class="text-danger"
                              th:errors="*{attributeList[__${status.index}__].max}"></span>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control"
                               th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].rating')} ? 'is-invalid' : ''"
                               th:field="*{attributeList[__${status.index}__].rating}" type="text">
                        <span class="text-danger"
                              th:errors="*{attributeList[__${status.index}__].rating}"></span>
                    </div>
                    <div class="col-sm-2">
                        <select class="custom-select"
                                th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].function')} ? 'is-invalid' : ''"
                                th:field="*{attributeList[__${status.index}__].function}">
                            <option th:each="fn : ${T(cz.rolling.moirai.model.common.RatingFunction).values()}"
                                    th:text="#{${fn.getKey()}}"
                                    th:value="${fn}"></option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-danger btn-sm"
                           role="button"
                           th:href="'/configuration/remove/' + ${status.index}">
                            <i class="fa fa-minus fa-sm"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <span class="text-danger"
                      th:errors="*{attributeList}"
                      th:if="${#fields.hasErrors('attributeList')}"></span>
            </div>
        </div>

        <div>
            <span class="text-danger" th:errors="*{global}"> </span>
        </div>

        <button class="btn btn-primary mt-4"
                th:formaction="@{/configuration/next}"
                th:text="#{common.next-btn}"
                type="submit"></button>
    </form>
</div>

<div aria-hidden="true" aria-labelledby="loadFileModalLabel" class="modal fade" id="loadFileModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/configuration/import" enctype="multipart/form-data" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="loadFileModalLabel" th:text="#{assignment-config.import.title}"></h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="filestyle" id="charactersFile" name="file" th:data-text="#{common.choose-file}" type="file">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close-btn}"
                            type="button"></button>
                    <button class="btn btn-primary" th:text="#{common.load-file-btn}"
                            type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: scripts">
</div>

</body>
</html>