<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/configuration}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<script layout:fragment="config-script">
    function addAttr() {
        $("#attrList").append("<div class='row'>" +
            "                    <div class='col-sm-3'>" +
            "                        <input type='text' class='form-control' id='attributeList" + last + ".name' name='attributeList[" + last + "].name' >" +
            "                    </div>" +
            "                    <div class='col-sm-1'>" +
            "                        <input type='text' class='form-control' id='attributeList" + last + ".min' name='attributeList[" + last + "].min' >" +
            "                    </div>" +
            "                    <div class='col-sm-1'>" +
            "                        <input type='text' class='form-control' id='attributeList" + last + ".max' name='attributeList[" + last + "].max' >" +
            "                    </div>" +
            "                    <div class='col-sm-2'>" +
            "                        <input type='text' class='form-control' id='attributeList" + last + ".rating' name='attributeList[" + last + "].rating' >" +
            "                    </div>" +
            "                    <div class='col-sm-2'>" +
            "                       <select id='attributeList" + last + ".ratingFunction' name='attributeList[" + last + "].ratingFunction' class='custom-select'>" +
            "                        </select>" +
            "                    </div>" +
            "                    <div class='col-sm-2'>" +
            "                       <select id='attributeList" + last + ".deltaFunction' name='attributeList[" + last + "].deltaFunction' class='custom-select'>" +
            "                        </select>" +
            "                    </div>" +
            "                    <div class='col-sm-1'>" +
            "                        <button class='btn btn-danger btn-sm' onclick='deleteAttr(this)'>" +
            "                            <i class='fa fa-minus fa-sm' ></i>" +
            "                        </button>" +
            "                    </div>" +
            "                </div>"
        );
        const ratingFunctionSelect = $("#attributeList" + last + "\\.ratingFunction");
        ratingFunctionSelect.append($("#ratingFunctionTemplate").children().clone());
        ratingFunctionSelect.val("LINEAR")

        const deltaFunctionSelect = $("#attributeList" + last + "\\.deltaFunction");
        deltaFunctionSelect.append($("#deltaFunctionTemplate").children().clone());
        deltaFunctionSelect.val("STANDARD")
        last++;
    }
</script>

<div layout:fragment="config-content">
    <div class="form-group row">
        <div class="col-sm-5">
            <label class="col-form-label" for="ratingForGender"
                   th:text="#{assignment-config.rating-gender}">
            </label>
            <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.rating-gender.tooltip}"></i>
        </div>
        <div class="col-sm-2">
            <input class="form-control" id="ratingForGender"
                   th:classappend="${#fields.hasErrors('ratingForGender')} ? 'is-invalid' : ''"
                   th:field="*{ratingForGender}"
                   th:value="${mainConfiguration.getRatingForGender()}"
                   type="text">
        </div>
        <div class="col-sm-4">
                <span class="text-danger"
                      th:errors="*{ratingForGender}"
                      th:if="${#fields.hasErrors('ratingForGender')}"></span>
        </div>
    </div>

    <div class="approach-section" id="section-CHARACTERS">
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="col-form-label" for="numberOfPreferredCharacters"
                       th:text="#{assignment-config.preferred-characters}"></label>
                <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.preferred-characters.tooltip}"></i>
            </div>
            <div class="col-sm-4">
                <input class="form-control" id="numberOfPreferredCharacters"
                       th:classappend="${#fields.hasErrors('numberOfPreferredCharacters')} ? 'is-invalid' : ''"
                       th:field="*{numberOfPreferredCharacters}"
                       th:value="${mainConfiguration.getNumberOfPreferredCharacters()}"
                       type="text">
            </div>
            <div class="col-sm-3">
                <span class="text-danger"
                      th:errors="*{numberOfPreferredCharacters}"
                      th:if="${#fields.hasErrors('numberOfPreferredCharacters')}"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="col-form-label" for="ratingForPreferredCharacters"
                       th:text="#{assignment-config.rating-for-preferred}"></label>
                <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.rating-for-preferred.tooltip}"></i>
            </div>
            <div class="col-sm-4">
                <input class="form-control" id="ratingForPreferredCharacters"
                       placeholder="7,5,3"
                       th:classappend="${#fields.hasErrors('ratingForPreferredCharacters')} ? 'is-invalid' : ''"
                       th:field="*{ratingForPreferredCharacters}"
                       th:value="${mainConfiguration.getRatingForPreferredCharacters()}"
                       type="text"
                >
            </div>
            <div class="col-sm-3">
                <span class="text-danger"
                      th:errors="*{ratingForPreferredCharacters}"
                      th:if="${#fields.hasErrors('ratingForPreferredCharacters')}"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-5">
                <label class="col-form-label" for="ratingForNotSpecifiedChar"
                       th:text="#{assignment-config.rating-not-specified-char}"></label>
                <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.rating-not-specified-char.tooltip}"></i>
            </div>
            <div class="col-sm-2">
                <input class="form-control" id="ratingForNotSpecifiedChar"
                       th:classappend="${#fields.hasErrors('ratingForNotSpecifiedChar')} ? 'is-invalid' : ''"
                       th:field="*{ratingForNotSpecifiedChar}"
                       th:value="${mainConfiguration.getRatingForNotSpecifiedChar()}"
                       type="text">
            </div>
            <div class="col-sm-4">
                <span class="text-danger"
                      th:errors="*{ratingForNotSpecifiedChar}"
                      th:if="${#fields.hasErrors('ratingForNotSpecifiedChar')}"></span>
            </div>
        </div>
    </div>

    <div class="approach-section" id="section-CONTENT">
        <div class="form-group row">
            <div class="col-sm-5">
                <label class="col-form-label" for="multiSelect"
                       th:text="#{assignment-config.multi-select.label}"></label>
                <i class="fa fa-info-circle help-tooltip" data-placement="right" data-toggle="tooltip" th:title="#{assignment-config.multi-select.tooltip}"></i>
            </div>
            <div class="col-sm-5">
                <select class="custom-select" id="multiSelect" th:field="*{multiSelect}">
                    <option th:label="#{'assignment-config.multi-select.option-0'}" value="0"></option>
                    <option th:label="#{'assignment-config.multi-select.option-2'}" value="2"></option>
                    <option th:label="#{'assignment-config.multi-select.option-3'}" value="3"></option>
                </select>
            </div>
        </div>
        <div>
            <h5>
                <span th:text="#{assignment-config.attr.title}"></span>
                <button class="btn btn-info btn-sm" data-placement="right" data-toggle="tooltip" onclick="addAttr()" th:title="#{assignment-config.attr.add.tooltip}" type="button">
                    <i class="fa fa-plus fa-sm"></i>
                </button>
            </h5>
        </div>
        <div class="row">
            <div class="col-sm-3 font-weight-bold text-center">
                <span th:text="#{assignment-config.attr.name}"></span>
                <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.name.tooltip}"></i>
            </div>
            <div class="col-sm-1 font-weight-bold text-center">
                <span th:text="#{assignment-config.attr.min}"></span>
                <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.min.tooltip}"></i>
            </div>
            <div class="col-sm-1 font-weight-bold text-center">
                <span th:text="#{assignment-config.attr.max}"></span>
                <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.max.tooltip}"></i>
            </div>
            <div class="col-sm-2 font-weight-bold text-center">
                <span th:text="#{assignment-config.attr.rating}"></span>
                <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.rating.tooltip}"></i>
            </div>
            <div class="col-sm-2 font-weight-bold text-center">
                <span th:text="#{assignment-config.attr.rating-function}"></span>
                <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.rating-function.tooltip}"></i>
            </div>
            <div class="col-sm-2 font-weight-bold text-center">
                <span th:text="#{assignment-config.attr.delta-function}"></span>
                <i class="fa fa-info-circle help-tooltip" data-toggle="tooltip" th:title="#{assignment-config.attr.delta-function.tooltip}"></i>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div id="attrList">
            <div class="row" th:each="attr, status: *{attributeList}">
                <div class="col-sm-3">
                    <input class="form-control"
                           th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].name')} ? 'is-invalid' : ''"
                           th:field="*{attributeList[__${status.index}__].name}" type="text">
                    <span class="text-danger"
                          th:errors="*{attributeList[__${status.index}__].name}"></span>
                </div>
                <div class="col-sm-1">
                    <input class="form-control"
                           th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].min')} ? 'is-invalid' : ''"
                           th:field="*{attributeList[__${status.index}__].min}" type="text">
                    <span class="text-danger"
                          th:errors="*{attributeList[__${status.index}__].min}"></span>
                </div>
                <div class="col-sm-1">
                    <input class="form-control"
                           th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].max')} ? 'is-invalid' : ''"
                           th:field="*{attributeList[__${status.index}__].max}" type="text">
                    <span class="text-danger"
                          th:errors="*{attributeList[__${status.index}__].max}"></span>
                </div>
                <div class="col-sm-2">
                    <input class="form-control"
                           th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].rating')} ? 'is-invalid' : ''"
                           th:field="*{attributeList[__${status.index}__].rating}" type="text">
                    <span class="text-danger"
                          th:errors="*{attributeList[__${status.index}__].rating}"></span>
                </div>
                <div class="col-sm-2">
                    <select class="custom-select"
                            th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].ratingFunction')} ? 'is-invalid' : ''"
                            th:field="*{attributeList[__${status.index}__].ratingFunction}">
                        <option th:each="fn : ${T(cz.rolling.moirai.model.common.RatingFunction).values()}"
                                th:text="#{${fn.getKey()}}"
                                th:value="${fn}"></option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="custom-select"
                            th:classappend="${#fields.hasErrors('attributeList[__${status.index}__].deltaFunction')} ? 'is-invalid' : ''"
                            th:field="*{attributeList[__${status.index}__].deltaFunction}">
                        <option th:each="fn : ${T(cz.rolling.moirai.model.common.DeltaFunction).values()}"
                                th:text="#{${fn.getKey()}}"
                                th:value="${fn}"></option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <a class="btn btn-danger btn-sm"
                       role="button"
                       th:href="'/configuration/remove/' + ${status.index}">
                        <i class="fa fa-minus fa-sm"></i>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <span class="text-danger"
                  th:errors="*{attributeList}"
                  th:if="${#fields.hasErrors('attributeList')}"></span>
        </div>
    </div>

    <div class="d-none">
        <select class="custom-select" id="ratingFunctionTemplate">
            <option th:each="fn : ${T(cz.rolling.moirai.model.common.RatingFunction).values()}"
                    th:text="#{${fn.getKey()}}"
                    th:value="${fn}"></option>
        </select>
        <select class="custom-select" id="deltaFunctionTemplate">
            <option th:each="fn : ${T(cz.rolling.moirai.model.common.DeltaFunction).values()}"
                    th:text="#{${fn.getKey()}}"
                    th:value="${fn}"></option>
        </select>
    </div>
</div>

</body>
</html>