<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title></title>
</head>
<body>

<div th:replace="fragments/header :: nav('home')">
</div>

<div class="container mt-4">
    <h3 th:text="#{execution-results.title}"></h3>
    <p th:text="#{execution-results.desc}"></p>

    <div class="row">
        <div class="col-sm-1 font-weight-bold" th:text="#{execution-results.rating}">Rating</div>
        <div class="col-sm-5 font-weight-bold" >Positive assignments</div>
        <div class="col-sm-5 font-weight-bold" th:if="${hasNegativeDist}">Negative assignments</div>
    </div>

    <div class="row" th:each="sol, stats: ${solutions}">
        <div class="col-sm-1" th:text="${sol.rating}"></div>
        <div class="col-sm-5">
            <div th:each="header: ${headerList.?[isPositive()]}">
                <span class="font-weight-bold" th:text="${#messages.msgWithParams(header.message.key, header.message.params)}"></span>
                <span th:text="${sol.distributionMap.get(header.distributionKey)}"></span>
            </div>
        </div>
        <div class="col-sm-5" th:if="${hasNegativeDist}">
            <div th:each="header: ${headerList.?[!isPositive()]}">
                <span class="font-weight-bold" th:text="${#messages.msgWithParams(header.message.key, header.message.params)}"></span>
                <span th:text="${sol.distributionMap.get(header.distributionKey)}"></span>
            </div>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-secondary"
               role="button"
               th:href="'/execution/solution/' + ${stats.index}"
               th:text="#{execution-results.download-btn}"></a>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: scripts">
</div>

</body>
</html>