<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/main}" th:with="activePage='home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content">
    <h3 th:text="#{execution-results.title}"></h3>
    <p th:text="#{execution-results.desc}"></p>

    <div class="row" th:if="${hasSolution}">
        <div class="col-sm-1 font-weight-bold" th:text="#{execution-results.rating}">Rating</div>
        <div class="col-sm-5 font-weight-bold" th:text="#{execution-results.positive-title}"></div>
        <div class="col-sm-5 font-weight-bold" th:if="${hasNegativeDist}" th:text="#{execution-results.negative-title}"></div>
    </div>

    <div  th:each="sol, stats: ${solutions}">
        <div th:if="${sol.hasSolution} "class="row">
            <div class="col-sm-1" th:text="${sol.rating}"></div>
            <div class="col-sm-5">
                <div th:each="header: ${headerList.?[isPositive()]}">
                    <span class="font-weight-bold" th:text="${#messages.msgWithParams(header.message.key, header.message.params)}"></span>
                    <span th:text="${sol.distributionMap.get(header.distributionKey)}"></span>
                </div>
            </div>
            <div class="col-sm-4" th:if="${hasNegativeDist}">
                <div th:each="header: ${headerList.?[!isPositive()]}">
                    <span class="font-weight-bold" th:text="${#messages.msgWithParams(header.message.key, header.message.params)}"></span>
                    <span th:text="${sol.distributionMap.get(header.distributionKey)}"></span>
                </div>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-info"
                   role="button"
                   th:href="'/execution/solution/' + ${stats.index} + '/display'"
                   th:text="#{execution-results.display-btn}"></a>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary"
                   role="button"
                   th:href="'/execution/solution/' + ${stats.index} + '/download'"
                   th:text="#{execution-results.download-btn}"></a>
            </div>
        </div>
        <div th:unless="${sol.hasSolution}" class="row">
            <div class="col-sm-11">
                <span th:text="#{${sol.problemCode}}"></span>
            </div>
        </div>
    </div>

    <a class="btn btn-secondary mt-2"
       role="button"
       th:href="'/execution/previous'"
       th:text="#{common.previous-btn}"></a>
</div>
</body>
</html>