<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title></title>
</head>
<body>

<div th:replace="fragments/header :: nav('home')">
</div>

<div class="container">
    <div class="row justify-content-center index-tiles">
        <div class="col-md-4">
            <a class="tile blue" href="/configuration">
                <h3 class="title" th:text="#{index.tile.start.title}"></h3>
                <p th:text="#{index.tile.start.desc}"></p>
            </a>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: scripts">
</div>

</body>
</html>