<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>

<div th:replace="fragments/header :: nav">
</div>

<div class="container">
    <div class="row justify-content-center index-tiles">
        <div class="col-md-4">
            <a href="/configuration" class="tile purple">
                <h3 class="title" th:text="#{index.tile.first.title}"></h3>
                <p th:text="#{index.tile.first.desc}"></p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/characters" class="tile green">
                <h3 class="title" th:text="#{index.tile.second.title}"></h3>
                <p th:text="#{index.tile.second.desc}"></p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/assignment" class="tile blue">
                <h3 class="title" th:text="#{index.tile.third.title}"></h3>
                <p th:text="#{index.tile.third.desc}"></p>
            </a>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: scripts">
</div>

</body>
</html>