<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/main}" th:with="activePage='home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content">
    <div class="row justify-content-center index-tiles">
        <div class="col-md-5">
            <a class="tile blue" href="/configuration/new?uiStyle=BASIC">
                <h3 class="title" th:text="#{index.tile.start.basic.title}"></h3>
                <p th:text="#{index.tile.start.basic.desc}"></p>
            </a>
        </div>
        <div class="col-md-5">
            <a class="tile green" href="/configuration/new?uiStyle=CUSTOM">
                <h3 class="title" th:text="#{index.tile.start.custom.title}"></h3>
                <p th:text="#{index.tile.start.custom.desc}"></p>
            </a>
        </div>
    </div>
    <footer class="moirai-footer">
        <div>
            <span th:text="#{index.version}"></span>
            <a th:href="'https://github.com/rolling-cz/moirai/commit/' + ${versionInfo.commitId}" target="_blank">
                <span th:text="${versionInfo.commitAbbrev}"></span>
                <i class="fas fa-external-link-alt fa-sm"></i>
            </a>
        </div>
        <div th:text="${versionInfo.buildTime}"></div>
    </footer>

</div>
</body>
</html>