<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/main}" th:with="fullPage=true, activePage='home'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content" >
    <h3 th:text="#{solution-detail.title}"></h3>

    <p>
        <b><span th:text="#{solution-detail.content-clue.title}"></span>:</b>
        <span class="border border-dark d-table-cell p-2">
            &lt;<span th:text="#{solution-detail.content-clue.assigned}"></span>&gt; / &lt;<span th:text="#{solution-detail.content-clue.requested}"></span>&gt;<br />
            &lt;<span th:text="#{solution-detail.content-clue.rating}"></span>&gt;
        </span>
    </p>

    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th scope="col" th:text="#{solution-detail.surname}"></th>
                <th scope="col" th:text="#{solution-detail.name}"></th>
                <th scope="col" th:text="#{solution-detail.character}"></th>
                <th scope="col" th:text="#{solution-detail.rating}"></th>
                <th scope="col" th:text="#{solution-detail.gender}"></th>
                <th scope="col" th:each="attr: ${attributes}" th:text="${attr.name}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="assignment: ${assignments}">
                <th scope="row" th:text="${assignment.surname}"></th>
                <td th:text="${assignment.name}"></th>
                <td th:text="${assignment.character}"></td>
                <td th:text="${assignment.rating}"></td>
                <td>
                    <div th:text="${assignment.gender.assigned}"></div>
                    <div th:text="${assignment.gender.rating}"></div>
                </td>
                <td th:each="attr: ${assignment.attributeList}">
                    <div>
                        <span th:text="${attr.assigned}"></span> / <span th:text="${attr.requested}"></span>
                    </div>
                    <div th:text="${attr.rating}"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary mt-2"
       role="button"
       th:href="'/execution'"
       th:text="#{common.previous-btn}"></a>
</div>
</body>
</html>