.index-tiles {
    margin-top: 150px;
}

.index-tiles .tile {
    width: 100%;
    height: 160px;
    display: inline-block;
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	margin-bottom: 10px;
	color: white;
}

.index-tiles .tile:hover {
    text-decoration: none;
    filter: brightness(120%);
}

.index-tiles .title {
    margin-top: 0;
}

.index-tiles .purple {
    background: #6746c8;
}

.index-tiles .green {
    background: #00A600;
}
.index-tiles .blue {
    background: #2672EC;
}

.approach-section {
    display: none;
}

.help-tooltip {
    cursor: pointer;
    color: #2672EC;
}

.flag {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.icon-cs {
    background-image: url("/img/cs-icon.png");
}

.icon-en {
    background-image: url("/img/en-icon.png");
}